body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  font-family: "Lato", sans-serif;
}
h1 {
  text-align: center;
}
hr {
  width: 500px;
}
span {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  gap: 5px;
  margin-bottom: 5px;
  justify-content: center;
}
.partition {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.rules {
  background-color: #d4bcbc;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin-left: 5px;
  border-radius: 10px;
  left: 20px;
  border: 2px solid #a28c8c;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  color: #4d3a3a;
}

.rules ul {
  position: relative;
  list-style-type: disc;
  padding-left: 20px;
}

.rules li {
  position: relative;
  margin-bottom: 10px;
  font-size: 16px;
}

#errors {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  color: coral;
}

#board {
  position: relative;
  top: 5px;
  left: -250px;
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 48px;
  height: 50px;
  border: 1px solid lightgray;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

#digits {
  position: relative;
  width: 450px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  top: 40px;
  left: 5px;
  flex-wrap: wrap;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid rgb(242, 137, 137);
  margin: 2px;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-selected {
  background-color: rgb(241, 124, 124);
}

.tile-start {
  background-color: rgb(0, 0, 0);
}

.horizontal-line {
  border-bottom: 2px solid rgb(239, 113, 113);
}

.vertical-line {
  border-right: 2px solid rgb(201, 92, 92);
}
@media (max-width: 1024px) {
  body {
    display: block;
  }

  .small-screen-warning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: rgb(222, 125, 125);
    font-size: 1.5rem;
    text-align: center;
  }
}
@media (min-width: 1025px) {
  body {
    display: block;
  }

  .small-screen-warning {
    display: none;
  }
}
